{{!-- render article posts from post-info handlebar --}}
{{> post-info post }}


{{!-- conditionally render the comment form, if the user is logged in --}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

{{!-- render comment posts from comments handlebar --}}
{{> comments post.comments}}

{{!-- conditionally render the <script> elements --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}